<div class="container">

    <div class="panel panel-success well well-sm col-lg-9">
        <div class="panel-heading">
            <h3>健身房管理系统~课程</h3>
            <button type="button" class="btn btn-primary" ng-click="showAddCourse()">添加课程</button>
        </div>

        <table class="table text-center table-responsive">

            <tr>
                <th class="text-center"><h4>课程名称</h4></th>
                <th class="text-center"><h4>课程描述</h4></th>
                <th class="text-center"><h4>操作</h4></th>
                <th class="text-center"><h4>操作</h4></th>
            </tr>

            <tr ng-repeat="course in courses">
                <td><h4>{{course.name}}</h4></td>
                <td><h4>{{course.description}}</h4></td>
                <td><button type="button" class="btn btn-danger " ng-click="deleteCourse(course.id)">删除</button></td>
                <td><button type="button" class="btn btn-primary " ng-click="deleteCourse(course.id)">修改</button></td>
            </tr>

        </table>
    </div>

    <div class="panel panel-success well well-sm col-lg-3" ng-hide="addFlag">

        <div class="panel-heading">
            <div class="row">
                <div class="col-md-10">
                    <h2>添加课程</h2>
                </div>
            </div>
        </div>
        <div class="panel-body">

            <div class="col-md-11 col-md-offset-1 text-center input-group">
                <span class="input-group-addon">课程名称</span>
                <input type="text" class="form-control"
                       aria-describedby="basic-addon1" placeholder="name" ng-model="course.name"/>
            </div>
            <div class="col-md-11 col-md-offset-1 text-cente input-group">
                <span class="input-group-addon">课程描述</span>
                <input type="text" class="form-control"
                       aria-describedby="basic-addon1" placeholder="description" ng-model="course.description"/>
            </div>

            <div class="col-md-11 col-md-offset-1 text-center">
                <a class="btn btn-primary" role="button" ng-click="addCourse()">确定</a>
                <a class="btn btn-default" role="button" ng-click="hideAddCourse()">取消</a>
            </div>

        </div>
    </div>

    <!--<div class="panel panel-success well well-sm col-lg-3" ng-hide="modifyFlag">-->

        <!--<div class="panel-heading">-->
            <!--<div class="row">-->
                <!--<div class="col-md-10">-->
                    <!--<h2>修改课程</h2>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="panel-body">-->

            <!--<div class="col-md-11 col-md-offset-1 text-center input-group">-->
                <!--<span class="input-group-addon">课程名称</span>-->
                <!--<input type="text" class="form-control"-->
                       <!--aria-describedby="basic-addon1" placeholder="name" ng-model="modifyCourse.name"/>-->
            <!--</div>-->
            <!--<div class="col-md-11 col-md-offset-1 text-cente input-group">-->
                <!--<span class="input-group-addon">课程描述</span>-->
                <!--<input type="text" class="form-control"-->
                       <!--aria-describedby="basic-addon1" placeholder="description" ng-model="modifyCourse.description"/>-->
            <!--</div>-->

            <!--<div class="col-md-11 col-md-offset-1 text-center">-->
                <!--<a class="btn btn-primary" role="button" ng-click="ng-click="modifyCourse(modifyCourse)"">确定</a>-->
                <!--<a class="btn btn-default" role="button" ng-click="hideModifyFlag()">取消</a>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->

</div>