<div class="container">

    <div class="panel panel-success well well-sm col-lg-9">
        <div class="panel-heading">
            <h3>健身房管理系统~课表</h3>
            <!--<button type="button" class="btn btn-primary" ng-click="showAddCourse()">添加课表</button>-->
        </div>

        <table class="table text-center table-responsive">

            <tr>
                <th class="text-center"><h4>课表名称</h4></th>
                <th class="text-center"><h4>教练名称</h4></th>
                <th class="text-center"><h4>课表时间</h4></th>
                <!--<th class="text-center"><h4>操作</h4></th>-->
                <!--<th class="text-center"><h4>操作</h4></th>-->
            </tr>

            <tr ng-repeat="schedule in schedules">
                <td><h4>{{schedule.course.name}}</h4></td>
                <td><h4>{{schedule.employee.name}}</h4></td>
                <td><h4>{{schedule.time}}</h4></td>
                <!--<td>-->
                    <!--<button type="button" class="btn btn-danger " ng-click="deleteCourse(course.id)">删除</button>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<button type="button" class="btn btn-primary " ng-click="getModifyCourse(course.id)">修改</button>-->
                <!--</td>-->
            </tr>

        </table>
    </div>

</div>