<div class="container">

    <div class="panel panel-success well well-sm col-lg-9">
        <div class="panel-heading">
            <h3>健身房管理系统~课表</h3>
            <button type="button" class="btn btn-primary" ng-click="showAddSchedule()">添加课表</button>
            <button type="button" class="btn btn-primary" ng-click="showAddPrivateCoach()">预约私教</button>
        </div>

        <table class="table text-center table-responsive">
            <tr>
                <th class="text-center"><h4>课表名称</h4></th>
                <th class="text-center"><h4>教练名称</h4></th>
                <th class="text-center"><h4>课表时间</h4></th>
                <th class="text-center"><h4>操作</h4></th>
                <th class="text-center"><h4>操作</h4></th>
            </tr>

            <tr ng-repeat="schedule in schedules">
                <td><h4>{{schedule.course.name}}</h4></td>
                <td><h4>{{schedule.employee.name}}</h4></td>
                <td><h4>{{schedule.time}}</h4></td>
                <td>
                    <button type="button" class="btn btn-danger " ng-click="deleteSchedule(schedule.id)">删除</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary " ng-click="getModifySchedule(schedule.id)">修改</button>
                </td>
            </tr>
        </table>
    </div>

    <div class="panel panel-success well well-sm col-lg-3" ng-hide="addFlag">

        <div class="panel-heading">
            <div class="row">
                <div class="col-md-10">
                    <h2>添加课表</h2>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-11 col-md-offset-1 text-center">
                    <label for="sel1">课程名称</label>
                    <select class="form-control" id="sel1" ng-model="course"
                            ng-options="course.name for course in courses">
                        <option value="">选个课程呗</option>
                    </select>
                </div>

                <div class="form-group col-md-11 col-md-offset-1 text-center">
                    <label for="sel2">教练名称</label>
                    <select class="form-control" id="sel2" ng-model="employee"
                            ng-options="employee.name for employee in employees">
                        <option value="">找个教练~\(≧▽≦)/~啦啦啦</option>
                    </select>
                </div>

                <div class="col-md-11 col-md-offset-1 text-center">
                    时间
                    <input type="date" class="form-control"
                           aria-describedby="basic-addon1" name="time" ng-model="time">
                </div>

                <div class="col-md-11 col-md-offset-1 text-center">
                    <a class="btn btn-primary" role="button" ng-click="addSchedule(employee.id,course.id,time)">确定</a>
                    <a class="btn btn-default" role="button" ng-click="hideAddSchedule()">取消</a>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-success well well-sm col-lg-3" ng-hide="addPrivateFlag">

        <div class="panel-heading">
            <div class="row">
                <div class="col-md-10">
                    <h2>预约私教</h2>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-11 col-md-offset-1 text-center">
                    课程名称
                    <input type="text" class="form-control"
                           aria-describedby="basic-addon1" value="私教" readonly="readonly">
                </div>

                <div class="form-group col-md-11 col-md-offset-1 text-center">
                    <label for="sel4">顾客名称</label>
                    <select class="form-control" id="sel4" ng-model="privateCustomer"
                            ng-options="privateCustomer.name for privateCustomer in customers">
                        <option value="">哼╭(╯^╰)╮顾客是who</option>
                    </select>
                </div>

                <div class="form-group col-md-11 col-md-offset-1 text-center">
                    <label for="sel5">教练名称</label>
                    <select class="form-control" id="sel5" ng-model="privateEmployee"
                            ng-options="privateEmployee.name for privateEmployee in employees">
                        <option value="">找个教练~\(≧▽≦)/~啦啦啦</option>
                    </select>
                </div>

                <div class="col-md-11 col-md-offset-1 text-center">
                    时间
                    <input type="date" class="form-control"
                           aria-describedby="basic-addon1" ng-model="privateTime">
                </div>

                <div class="col-md-11 col-md-offset-1 text-center">
                    <a class="btn btn-primary" role="button"
                       ng-click="addPrivateCoach(privateCustomer.id,privateEmployee.id,privateTime)">确定</a>
                    <a class="btn btn-default" role="button" ng-click="hideAddPrivateCoach()">取消</a>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-success well well-sm col-lg-3" ng-hide="modifyFlag">

        <div class="panel-heading">
            <div class="row">
                <div class="col-md-10">
                    <h2>修改课表</h2>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-11 col-md-offset-1 text-center">
                    课程名称
                    <input type="text" class="form-control"
                           aria-describedby="basic-addon1" ng-model="scheduleToBeModified.course.name"
                           readonly="readonly">
                </div>

                <div class="form-group col-md-11 col-md-offset-1 text-center">
                    教练名称
                    <input type="text" class="form-control"
                           aria-describedby="basic-addon1" ng-model="scheduleToBeModified.employee.name"
                           readonly="readonly">
                </div>

                <div class="col-md-11 col-md-offset-1 text-center">
                    时间
                    <!--<input type="date" class="form-control"-->
                           <!--aria-describedby="basic-addon1"  ng-model="scheduleToBeModified.time" required="required" min={{$scope.date}}>-->

                    <input type="date"  ng-model="scheduleToBeModified.time" aria-describedby="basic-addon1"
                           required />
                </div>

                <div class="col-md-11 col-md-offset-1 text-center">
                    <a class="btn btn-primary" role="button" ng-click="modifySchedule(scheduleToBeModified)">确定</a>
                    <a class="btn btn-default" role="button" ng-click="hideModifySchedule()">取消</a>
                </div>
            </div>
        </div>
    </div>

</div>