<div class="container">

    <div class="panel panel-success well well-sm col-lg-9">
        <div class="panel-heading">
            <h3>健身房管理系统~用户</h3>
            <button type="button" class="btn btn-primary" ng-click="showAddCourse()">添加用户</button>
        </div>

        <table class="table text-center table-responsive">

            <tr>
                <th class="text-center"><h4>用户名称</h4></th>
                <th class="text-center"><h4>密码</h4></th>
                <th class="text-center"><h4>操作</h4></th>
                <th class="text-center"><h4>操作</h4></th>
            </tr>

            <tr ng-repeat="user in users">
                <td><h4>{{user.name}}</h4></td>
                <td><h4>{{user.password}}</h4></td>
                <td>
                    <button type="button" class="btn btn-danger " ng-click="deleteCourse(course.id)">删除</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary " ng-click="getModifyCourse(course.id)">修改</button>
                </td>
            </tr>

        </table>
    </div>

</div>