#navigationBar {
    display: inline-flex;
}

#navigationBar ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    position: absolute;
}

#navigationBar ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 145px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

#navigationBar li a {
    display: block;
    min-width: 200px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
}

#navigationBar li {
    display: inline-block;
    float: left;
    margin-right: 1px;
}

#navigationBar li ul li {
    display: block;
    float: none;
}

#navigationBar #child1 {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

#navigationBar li:hover a {
    background: #19c589;
}

.tableCss {
    margin-left: 134px;
    margin-top: 30px;
    width: 78%;
    box-shadow: -1px 0px 20px rgba(86, 242, 9, 0.61);
    border: 1px solid #4ac7e7;
}

.formCss {
    margin-left: 134px;
    margin-top: 120px;
    width: 78%;
    box-shadow: -1px 0px 20px rgba(86, 242, 9, 0.61);
    border: 1px solid #4ac7e7;
}

table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 1093px;
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    border: 1px solid transparent; /* No more visible border */
    height: 50px;
    transition: all 0.3s; /* Simple transition for hover effect */
}

th {
    background: #97BABE; /* Darken header a bit */
    font-weight: bolder;
}

td {
    background: #FAFAFA;
    text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td {
    background: #F1F1F1;
}

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td {
    background: #FEFEFE;
}

#highLight1 #highLight {
    background-color: #19c589;
}

#update #button1 {
    border-top: 1px solid #98eff5;
    background: #94d665;
    background: -webkit-gradient(linear, left top, left bottom, from(#3631c2), to(#94d665));
    background: -webkit-linear-gradient(top, #3631c2, #94d665);
    background: -moz-linear-gradient(top, #3631c2, #94d665);
    background: -ms-linear-gradient(top, #3631c2, #94d665);
    background: -o-linear-gradient(top, #3631c2, #94d665);
    padding: 9px 18px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: white;
    font-size: 16px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
}

#update #button1:hover {
    border-top-color: #03071c;
    background: #03071c;
    color: #ccc;
}

#update #button1:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

#delete #button2 {
    border-top: 1px solid #98eff5;
    background: #94d665;
    background: -webkit-gradient(linear, left top, left bottom, from(#c25432), to(#94d665));
    background: -webkit-linear-gradient(top, #c25432, #94d665);
    background: -moz-linear-gradient(top, #c25432, #94d665);
    background: -ms-linear-gradient(top, #c25432, #94d665);
    background: -o-linear-gradient(top, #c25432, #94d665);
    padding: 9px 18px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: white;
    font-size: 16px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
}

#delete #button2:hover {
    border-top-color: #03071c;
    background: #03071c;
    color: #ccc;
}

#delete #button2 :active {
    border-top-color: #1b435e;
    background: #1b435e;
}

input, text {
    padding: 9px;
    border: solid 1px #E5E5E5;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 321px;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    margin-top: 15px;
}

text {
    width: 400px;
    max-width: 400px;
    height: 150px;
    line-height: 150%;
}

input:hover, text:hover,
input:focus, text:focus {
    border-color: #23c97d;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}



