#navigationBar {
    display: inline-flex;
}

#navigationBar ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    position: absolute;
}

#navigationBar ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 145px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

#navigationBar li a {
    display: block;
    min-width: 200px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
}

#navigationBar li {
    display: inline-block;
    float: left;
    margin-right: 1px;
}

#navigationBar li ul li {
    display: block;
    float: none;
}

#navigationBar #child1 {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

#navigationBar li:hover a {
    background: #19c589;
}

#highLight1 #highLight {
    background-color: #19c589;
}

.formCss {
    margin-left: 404px;
    margin-top: 120px;
    width: 40%;
    box-shadow: -1px 0px 20px rgba(86, 242, 9, 0.61);
    border: 1px solid #4ac7e7;
}

input, text {
    padding: 9px;
    border: solid 1px #E5E5E5;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    /*width: 321px;*/
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    margin-top: 40px;
}

text {
    width: 400px;
    max-width: 400px;
    height: 150px;
    line-height: 150%;
}

input:hover, text:hover,
input:focus, text:focus {
    border-color: #23c97d;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

.form #input1{
    width: initial;
    font-size: xx-large;
    margin-left: 100px;
    margin-bottom: 10px;
    color: cadetblue;
}

.form #input2{
    width: initial;
    font-size: xx-large;
    margin-left: 100px;
    margin-bottom: 2px;
    color: cadetblue;
}

.form #submit{
    width: initial;
    font-size: xx-large;
    margin-left: 100px;
    margin-bottom: 20px;
    color: cadetblue;
}

#submit {
    border-top: 1px solid #98eff5;
    background: -webkit-linear-gradient(top, #3631c2, #94d665);
    padding: 9px 18px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
}

#submit:hover {
    border-top-color: #03071c;
    background: #03071c;
    color: #ccc;
}

#submit:active {
    border-top-color: #1b435e;
    background: #1b435e;
}
